<a href="https://colab.research.google.com/github/brunoriboli/curso_python_data_science/blob/main/Exerc%C3%ADcio_da_Imers%C3%A3o_visualiza%C3%A7%C3%A3o_de_sal%C3%A1rio_m%C3%A9dio_por_pa%C3%ADs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Importação das bibliotecas necessárias
import plotly.express as px
import pandas as pd

In [3]:
# Criação de data frame com o endereço do arquivo
df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv")

In [4]:
# Impressão de parte dos dados do arquivo
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M

In [7]:
# Tradução dos nomes das colunas para o português
column_translations = {
    'work_year': 'ano',
    'experience_level': 'senioridade',
    'employment_type': 'contrato',
    'job_title': 'cargo',
    'salary': 'salario',
    'salary_currency': 'moeda',
    'salary_in_usd': 'usd',
    'employee_residence': 'residencia',
    'remote_ratio': 'remoto',
    'company_location': 'empresa',
    'company_size': 'tamanho_empresa'
}
df = df.rename(columns=column_translations)

In [9]:
# Eliminação de registros nulos
df_limpo = df.dropna()

# Contagem de quantidade de colunas do data frame com valores nulos
df_limpo.isnull().sum()

ano                0
senioridade        0
contrato           0
cargo              0
salario            0
moeda              0
usd                0
residencia         0
remoto             0
empresa            0
tamanho_empresa    0
dtype: int64

In [10]:
# Filtrar o DataFrame para o cargo de 'Data Scientist'
df_data_scientist = df_limpo[df_limpo['cargo'] == 'Data Scientist']

# Calcular o salário médio por empresa (país) para Data Scientists
salario_medio_por_pais = df_data_scientist.groupby('empresa')['usd'].mean().reset_index()

# Dicionário parcial de códigos de país para nomes completos
country_names = {
    'US': 'United States',
    'AU': 'Australia',
    'DE': 'Germany',
    'GB': 'United Kingdom',
    'CA': 'Canada',
    'ES': 'Spain',
    'FR': 'France',
    'IN': 'India',
    'BR': 'Brazil',
    'JP': 'Japan',
    'PL': 'Poland',
    'MY': 'Malaysia',
    'AD': 'Andorra',
    'AE': 'United Arab Emirates',
    'AM': 'Armenia',
    'AR': 'Argentina',
    'AS': 'American Samoa',
    'AT': 'Austria',
    'BA': 'Bosnia and Herzegovina',
    'BE': 'Belgium',
    'BG': 'Bulgaria',
    'CH': 'Switzerland',
    'CL': 'Chile',
    'CO': 'Colombia',
    'CR': 'Costa Rica',
    'CZ': 'Czech Republic',
    'DK': 'Denmark',
    'DZ': 'Algeria',
    'EE': 'Estonia',
    'GR': 'Greece',
    'HK': 'Hong Kong',
    'HR': 'Croatia',
    'HU': 'Hungary',
    'IE': 'Ireland',
    'IL': 'Israel',
    'IQ': 'Iraq',
    'IR': 'Iran',
    'IT': 'Italy',
    'JE': 'Jersey',
    'KE': 'Kenya',
    'LT': 'Lithuania',
    'LU': 'Luxembourg',
    'MD': 'Moldova',
    'MT': 'Malta',
    'MX': 'Mexico',
    'NG': 'Nigeria',
    'NL': 'Netherlands',
    'NZ': 'New Zealand',
    'PH': 'Philippines',
    'PK': 'Pakistan',
    'PT': 'Portugal',
    'RO': 'Romania',
    'RS': 'Serbia',
    'RU': 'Russia',
    'SE': 'Sweden',
    'SG': 'Singapore',
    'SI': 'Slovenia',
    'SK': 'Slovakia',
    'TH': 'Thailand',
    'TR': 'Turkey',
    'UA': 'Ukraine',
    'UG': 'Uganda',
    'VN': 'Vietnam',
    'ZA': 'South Africa',
    'ZM': 'Zambia',
    'QA': 'Qatar',
    'CD': 'Congo',
    'VE': 'Venezuela',
    'MA': 'Morocco',
    'KG': 'Kyrgyzstan',
    'GH': 'Ghana',
    'GE': 'Georgia',
    'AZ': 'Azerbaijan',
    'AO': 'Angola',
    'BY': 'Belarus',
    'ME': 'Montenegro',
    'KZ': 'Kazakhstan',
    'CM': 'Cameroon',
    'AL': 'Albania',
    'CI': 'Ivory Coast',
    'KW': 'Kuwait',
    'DO': 'Dominican Republic',
    'MM': 'Myanmar',
    'BO': 'Bolivia',
    'SA': 'Saudi Arabia',
    'CY': 'Cyprus',
    'UZ': 'Uzbekistan',
    'PR': 'Puerto Rico',
    'LB': 'Lebanon',
    'EG': 'Egypt',
    'CN': 'China',
    'MU': 'Ilhas Maurício',
    'PA': 'Panamá',
    'KR': 'República da Coréia',
    'GI': 'Gibraltar',
    'LS': 'Lesoto',
    'ID': 'Indonésia',
    'NO': 'Noruega',
    'FI': 'Finlândia',
    'MK': 'República da Macedonia',
    'PE': 'Peru',
    'HN': 'Honduras',
    'CF': 'República Centro Africana',
    'OM': 'Omã',
    'LV': 'Letônia',
    'BS': 'Bahamas',
    'JO': 'Jordânia',
    'XK': 'Kosovo',
    'JM': 'Jamaica',
    'SV': 'El Salvador',
    'TW': 'Taiwan',
    'EC': 'Equador'
}

# Adicionar quaisquer localizações de empresa que não estão no dicionário, usando o código como nome
for loc in df_data_scientist['empresa'].unique(): # Use o DataFrame filtrado aqui
    if loc not in country_names:
        country_names[loc] = loc

salario_medio_por_pais['nome_do_pais'] = salario_medio_por_pais['empresa'].map(country_names)

# Criar o gráfico de mapa de árvores (treemap)
fig = px.treemap(
    salario_medio_por_pais,
    path=['empresa'],
    values='usd',
    title='Salário Médio anual por País (USD) para cientistas de dados',
    color_continuous_scale='RdBu',
    color='usd',
    hover_name='nome_do_pais', # Adiciona o nome completo do país como título principal do hover
    hover_data=['nome_do_pais', 'usd'] # Inclui 'nome_do_pais' e 'usd' para acesso em customdata
)

# Personalizar o hovertemplate para remover os campos padrão e exibir os dados corretamente
fig.update_traces(
    textinfo='label',
    hovertemplate='País: %{customdata[0]}<br>Salário Médio (USD): %{customdata[1]:,.2f}<extra></extra>'
)
fig.show()